@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');


* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto condensed', sans-serif;
    background-color: #F8F6F9;
}

/* Container */

.container-head {
  width: 100%;
}
.container-sec1{
  width: 100%;
}
.container-sec2{
  width: 100%;
}

.container-sec3 {
  width: 50%;
  margin-left: 20px;
  margin-top: 30px;
}


.one-third {
  float: left;
  width: 50%;
  padding: 10px;
}

/* --- */
 header a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

 .container-sec1 div h1, .container-sec1 div h5 {
  color: #F9F9F9;
  text-align: center;
}


nav {
  float: right;
  margin-top: 20px;
}
nav ul li {
  list-style: none;
  display: inline;
  padding: 10px;
}

nav ul li:hover {
  text-decoration: underline;
}

.background-cover {
    background: url("../img/love-cover.jpg") no-repeat center;
    background-size: cover;
    height: 400px;
    padding: 0;
}

#logo img {
  width: 120px;
  display: none;
}
.bg-subscribe {
  background: rgb(19, 21, 33);
  width: 100%;
  height: 80px;
}
.bg-subscribe h2 {
  color: white;
  float: left;
  margin: 20px 10px;
}
.bg-subscribe form {
  float: right;
  margin: 20px 10px;
}
.bg-subscribe input[type=email] {
  width: 300px;
  height: 35px;
}

.bg-subscribe input[type=submit] {
  border: 0;
  height: 35px;
  width: 120px;
  cursor: pointer;
  border-radius: 5px;
}
.bg-subscribe input[type=submit]:hover {
  text-decoration: underline;
  font-size: 10px;
}

.bg-subscribe input {
  padding: 2px;
  color: rgb(19,21,33);
  font-weight: bold;
}
.style-font {
  color: rgb(19,21,33);
  font-weight: bold;
}

.border-love {
  border-style: solid;
  border-color: white;
  border-width: 10px;
  width: 300px;
  position: absolute;
  top: 17%;
  left: 40%;
  padding: 15px;
}
.border-love h1 {
  font-size: 45px;
  font-family: 'Roboto Slab', sans-serif;
}

iframe {
  position: absolute;
  left: 62%;
  border:none; overflow:hidden;
  width:490px;
  height:500px;
  background: white;
  float:right;
}

.box-form {
  position: absolute;
  top: 500;
  left: 150;
  background-color: white;
  width: 50%;
  height: 120px;
  color: black;
  box-shadow: 1px 1px 3px black;
}
.box-form textarea {
  width: 100%;
  border: 0;
  padding: 15px;
  border-bottom: 2px solid #EEE;
  font-family: 'PT sans', sans-serif;
}
.box-form input[type=submit]{
  float: right;
  margin-right: 20px;
  margin-top: 3px;
  background-color: rgb(25,118,210);
  width: 50px;
  height: 30px;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

#user-img {
  position: absolute;
}
#post-img img{
  position: absolute;
  top: 30;
  left: 10;
  border-radius: 200px;
  width: 60px;
  height: 50px;
}













footer .footer1 img {
  margin-top: 30px;
  width: 4%;
  float: right;
  padding: 10px;
}

.footer1 {
  background: #E8E8E8;
  height: 110px;
  margin-top: 150%;
}

.copyright {
  background: #1D2731;
  height: 45px;
}
.copyright h4 {
  color: #F9F9F9;
  text-align: center;
  padding-top: 15px;
}
